@media screen and (max-width: 768px) {
  body,
  input,
  select,
  textarea {
    font-size: 0.7rem;
    font-weight: 300;
    line-height: 1.5;
    color: #a0a0a0;
  }
  #wrapper section:first-child {
    display: flex;
    flex-direction: column-reverse;
  }

  .wrapper.style1 > .inner {
    padding: 7rem 2.2rem 5rem 2.2rem;
    margin: 0 auto;
    max-width: 100%;
    width: 64rem;
  }
  .banner.style1 .content {
    width: 90%;
    padding: 7rem 0rem 5rem 0rem;
  }

  .banner.style1.fullscreen {
    min-height: min-content;
  }
  .banner.style1 .image {
    width: 100%;
  }
  .banner.style1 .image img {
    position: initial;
    width: 100%;
  }
  .content p {
    text-align: justify;
    font-size: 0.6rem;
  }
  h1 {
    text-align: center;
    font-size: 2rem;
    line-height: 1.2;

    color: #a0a0a0;
  }
  p {
    margin: 0 0 1rem 0;
    letter-spacing: -0.008em;
    text-align: center;
  }
  p.major {
    font-size: 0.7rem;
    text-align: center;
  }
  .spotlight.style1 {
    justify-content: unset;
    height: 400px;
    overflow: hidden;
  }
  .spotlight.style1 .image img {
    height: 100%;
  }
  .spotlight.style1 .image {
    width: 50%;
    min-width: 0rem;
    height: 400px;
  }
  .spotlight.style1 .content {
    padding: 0 2rem;
    width: 50%;
  }

  h2 {
    font-size: 1.2rem;
    color: #a0a0a0;
  }

  .button {
    font-weight: 300;

    font-size: 0.5rem;
    max-width: 7rem;
    height: 3.5em;
    line-height: 3.5em;

    padding: 0 2.5em;
  }

  .items.style1.medium > * {
    padding: 2.1875rem 2.1875rem 0.1875rem 2.1875rem;
    width: 50%;
    border: none;
    border-bottom: 1px solid #a0a0a0;
  }

  .items.style1.medium > *:nth-child(2n) {
    border-left: 1px solid #a0a0a0;
  }
  .icon.style2:before {
    border-radius: 2.75em;

    height: 2.5em;
    line-height: 2.5em;
    width: 2.5em;
  }
  .icon.major:before {
    font-size: 1rem;
  }
  h3 {
    font-size: 1rem;
    color: #a0a0a0;
  }
}
